.entities-grid {
    display: flex;
    flex-wrap: wrap;
}

.book-cover {
    align-items: center;
    background-color: #b08260;
    border: 1px solid black;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    height: 330px;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    width: 230px;
}

.book-cover.open {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
}

.book-cover.open .book-header {
    flex-direction: row;
    justify-content: space-between;
}

.book-cover::before {
    content: "";
    width: 150px;
    height: 150px;
    background-color: #000;
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.book-cover.open::before {
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    transform: translate( 0, 0);
}

.book-cover > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    z-index: 2;
}

.book-cover .entity-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.book-cover.open .entity-type {
    display: none;
}

.book-cover > div > span {
    text-align: center;
}

.book-cover.open > div > span {
    text-align: left;
}

.book-cover .controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

.book-cover .controls i {
    color: #333;
    margin: 5px;
}
.book-cover .controls i:hover {
    color: #efdbb0
}

