.title-input {
    border-style: solid;
    border-radius: 0;
    border-width: 1px;
    box-sizing: border-box;
    display: block;
    font-size: 22px;
    margin: 20px auto;
    padding: 5px 6px 5px 11px;
    position: relative;
    width: 530px;
}
.scenes-list {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 530px;
}

.scenes-list .scene-block {
    box-sizing: border-box;
    position: relative;
    width: 500px;
}

.scenes-list .scene-text {
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    padding: 25px 15px;
    position: relative;
    width: 100%;
}

.scenes-list .scene-block:last-child .scene-text {
    border-radius: 5px 0 5px 5px;
}

.scenes-list .scene-handle {
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    right: -30px;
    text-align: center;
    top: 0;
    width: 30px;
}

.connect-block {
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: -14px auto;
    opacity: 1;
    position: relative;
    width: 30px;
    z-index: 5;
    transition: opacity 0.1s;
}

.scenes-list.active .connect-block {
    opacity: 0;
}

.story-controls {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30%;
    position: fixed;
    top: 0;
    left: 30%;
    width: 30%;
    z-index: 100;
}

.story-controls button {
    border-style: solid;
    border-width: 1px;
    margin: 0 5px;
    padding: 5px 7px;
    text-transform: uppercase;
}

.scenes-list.active {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
