.title-input {
    border-style: solid;
    border-radius: 0;
    border-width: 1px;
    box-sizing: border-box;
    display: block;
    font-size: 22px;
    margin: 20px auto;
    padding: 5px 6px 5px 11px;
    position: relative;
    width: 530px;
}
.scenes-list {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 530px;
}

.scenes-list .scene-block {
    box-sizing: border-box;
    position: relative;
    width: 500px;
}

.scenes-list .scene-text {
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    padding: 25px 15px;
    position: relative;
    width: 100%;
}

.scenes-list .scene-block:last-child .scene-text {
    border-radius: 5px 0 5px 5px;
}

.scenes-list .scene-handle {
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    right: -30px;
    text-align: center;
    top: 0;
    width: 30px;
}

.connect-block {
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: -14px auto;
    opacity: 1;
    position: relative;
    width: 30px;
    z-index: 5;
    transition: opacity 0.1s;
}

.scenes-list.active .connect-block {
    opacity: 0;
}

.scenes-list.active {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.confirm-box .errors {
    display: block;
}

.confirm-box .text {
    border-radius: 5px;
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    padding: 15px;
    text-align: justify;
}

.sidebar-container {
    box-sizing: border-box;
    display: block;
    height: 100vh;
    left:-200px;
    padding: 45px 0 0 0;
    position:fixed;
    top:0;
    width: 200px;
    transition: left 0.5s;
}

.sidebar-container.open {
    left:0;
    transition: left 0.5s;
}

.sidebar-container .sidebar {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height:100%;
    padding: 15px;
    position: relative;
}


.story-controls button {
    border-style: solid;
    border-width: 1px;
    margin: 0 5px;
    padding: 5px 7px;
    text-transform: uppercase;
}

.main-content {
    padding: 0px;
}
.main-content.open {
    padding-left: 200px;
}

.open-sidebar {
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    opacity: 1;
    padding: 7px;
    position: absolute;
    right: -54px;
    top: 50px;
    transition: all 0.5s;
}

.sidebar-container.open .open-sidebar {
    opacity: 0;
    right: 0px;
    transition: all 0.5s;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.new-scene {
    align-items: center;
    border-style: dashed;
    box-sizing: border-box;
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 10px auto;
    width: 530px;
}
