@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap');

.peach {
    --bg-color1: #fff;
    --bg-color2: #efdbb0;
    --bg-color3: #dba279;
    --bg-color4: #b08260;
    --bg-color5: #333;
    --bg-color6: #000;
    --bg-color7: tomato;
    --modal-bg: rgba(0, 0, 0, 0.7);

    --text-color1: #333;
    --text-color2: #b08260;
    --text-color3: #efdbb0;
    --text-color4: #fff;
    --text-color5: tomato;

    --border-color1: #b08260;
    --border-color2: #333;
    --border-color3: tomato;
    --border-color4: #efdbb0;

    --logo-color1: #fff;
    --logo-color2: #000;
  }

.beach {
    --bg-color1: #245579;
    --bg-color2: #006ba6;
    --bg-color3: #d81159;
    --bg-color4: #8f2d56;
    --bg-color5: #ffbc42;
    --bg-color6: #000;
    --bg-color7: #47ffd7;
    --modal-bg: rgba(0, 0, 0, 0.7);

    --text-color1: #000;
    --text-color2: #ffbc42;
    --text-color3: #0496ff;
    --text-color4: #ffbc42;
    --text-color5: #47ffd7;

    --border-color1: #8f2d56;
    --border-color2: #006ba6;
    --border-color3: #47ffd7;
    --border-color4: #245579;

    --logo-text-color: #fff;
    --logo-color2: #000;
  }

.theme-button.peach-theme {
    background-color: #dba279;
}
.theme-button.beach-theme {
    background-color: #86cae4;
}

.theme-button {
    border-color: var(--border-color2);
}
.theme-button.active,
.theme-button:hover {
    border-color: var(--border-color3);
}

/*BACKGROUND*/
#modal-background{
    background-color: rgba(0, 0, 0, 0.7);
}

body,
.profile-header button,
.mobile-nav span.open,
.profile-controls button,
.profile-header button,
#modal-content,
form button {
    background-color: var(--bg-color1);
}

body,
.profile-header button,
.mobile-nav span.open,
.profile-controls button,
.profile-header button,
#modal-content,
form button,
.story-controls button,
.story-controls button[disabled],
.story-controls button[disabled]:hover,
footer a,
.navbar button,
.navbar a {
    color: var(--text-color1);
}

form button:hover,
.profile-controls button:hover,
.profile-header button:hover {
    background-color: var(--bg-color2);
}

form button:hover,
.profile-controls button:hover,
.profile-header button:hover,
.pseudonym-list i:hover,
.open-sidebar:hover,
.close-sidebar:hover,
.story-controls button:hover,
footer a:hover,
.navbar button:hover,
.navbar a:hover {
    color: var(--text-color2);
}
footer,
.navbar,
.profile-dropdown,
.story-controls button {
    background-color: var(--bg-color3);
}

.sidebar,
.book-cover,
.story-controls button:hover,
.story-controls button[disabled],
.story-controls button[disabled]:hover,
.mobile-nav span,
.open-sidebar {
    background-color: var(--bg-color4);
}

.scene-block .scene-handle,
.scene-block .scene-text,
input, select, textarea {
    background-color: var(--bg-color5);
}

.book-cover::before {
    background-color: var(--bg-color6);
}

a.logo{
    color: var(--logo-text-color);
}

/* .scenes-list .scene-text,
.scenes-list .scene-handle,
.confirm-box .text,
.entity-block {
    background-color: var(--bg-color1);
}

body, #root, 
.root-container,
#modal-content,
.new-scene,
.add-entity,
.profile-header button,
.mobile-nav span.open {
    background-color: var(--bg-color2);
}

.navbar, form button:hover,
.profile-dropdown,
.story-controls button,
.profile-controls button,
footer {
    background-color: var(--bg-color3);
}

.connect-block,
.open-sidebar,
.sidebar-container .sidebar,
.entity-block .entity-header,
.book-cover,
.mobile-nav span {
    background-color: var(--bg-color4);
}

form button {
    background-color: var(--bg-color5);
    
}

.book-cover::before {
    background-color: var(--bg-color6);;
}

#modal-background {
    background-color: var(--modal-bg);
}

/*TEXT*/
/* body,
.navbar button,
.profile-dropdown a,
.home-logo-navbar button,
form button:hover,
#modal-content button:hover, 
.connect-block:hover,
.new-scene,
.add-entity,
.book-cover .controls i,
.profile-header button,
.story-controls button,
.profile-controls button,
.story-page h1 a,
.mobile-nav span.open,
footer a {
    color: var(--text-color1)
}

.home-logo-navbar button,
form button:hover,
#modal-content button:hover, 
.connect-block:hover,
.add-entity,
.book-cover .controls i,
.profile-header button,
.profile-controls button,
.story-page h1 a,
.mobile-nav span.open,
.scenes-list .scene-text,
.scenes-list .scene-handle,
input {
    color: red;
}

.home-logo-navbar button:hover,
.scene-handle i:hover,
.scene-handle i.active,
.story-controls button[disabled],
.story-controls button[disabled]:hover,
.profile-controls button[disabled],
.profile-controls button[disabled]:hover,
.modal-close:hover,
form label i:hover,
.story-page h1 a:hover,
.pseudonym-list i:hover{
    color: var(--text-color2);
}

.navbar button:hover,
.home-logo-navbar .profile-dropdown button:hover,
.profile-dropdown a:hover,
.connect-block,
.book-cover .controls i:hover,
.book-cover .controls i.active,
.mobile-nav span,
footer a:hover,
.open-sidebar:hover,
.close-sidebar:hover  {
    color: var(--text-color3)
}

#modal-content button,
.book-cover {
    color: var(--text-color4);
}

.confirm-box .errors,
.new-scene:hover,
.add-entity:hover,
.profile-header button:hover,
.story-controls button:hover,
.profile-controls button:hover,
.open-sidebar.active {
    color: var(--text-color5);
} */

/*BORDER-COLOR*/
/* .home-logo-navbar > div,
form input:focus,
.entity-block .drop-block,
.book-content,
.story-controls button[disabled],
.story-controls button[disabled]:hover,
.profile-controls button[disabled],
.profile-controls button[disabled]:hover,
.mobile-nav,
.mobile-nav span {
    border-color: var(--border-color1);
}

.new-scene,
.add-entity,
.book-cover,
.profile-header button,
.story-controls button,
.profile-controls button {
    border-color: var(--border-color2);
}

.scenes-list.active,
.new-scene:hover,
.add-entity:hover,
.profile-header button:hover,
.story-controls button:hover,
.profile-controls button:hover {
    border-color: var(--border-color3);
}

.mobile-nav span.open {
    border-bottom-color: var(--border-color4);
} */

/*Dance Script*/
#modal-content h3,
.book-cover > div:first-child,
h1 {
    font-family: 'Dancing Script', cursive;
} 

/*Open Sans*/
body, button, input, textarea, select,
.book-cover .entity-type {
    font-family: 'Open Sans', sans-serif;
 }

/*Scrollbar settings*/
/* *::-webkit-scrollbar {
    width: 7px;
    background-color: var(--bg-color3);
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--border-color2);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color7);
  border: 1px solid var(--border-color2);
  border-radius: 3px;
} */ 
