.droppable.active {
    border: 1px solid purple;
    background-color: plum;
}

.droppable {
    border: 1px solid purple;
    background-color: #fff;
    min-height:50px;
    margin: 15px 25px 15px 15px;
    max-width: 500px;
}

.draggable {
    border: 1px solid teal;
    margin-top: 10px;
    background: #fff;
}
.draggable > span {
    border: 1px solid teal;
    background-color: turquoise;
}

.entity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    margin:20px;
    width: 100%;
}

.entity-block {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
}

.entity-block.open .drop-block {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
    width: 100%;
}

.entity-block.open .drop-block.highlight{
    background-color: plum;
}

.entity-block .entity-header {
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.entity-block.open .entity-header {
    border-radius: 5px 5px 0 0 ;
}

.entity-block .entity-header.final{
    border-radius: 5px;
}