@import './Homepage.css';
@import './Logo.css';
@import './Navigation.css';
@import './ScenesPage.css';
@import './Story.css';
@import './Footer.css';
@import './EntitiesTiles.css';
@import './EntitesTree.css';
@import './EntityDetails.css';
@import './Pseudonyms.css';
@import './Sidebar.css';
@import './forms.css';

body, #root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    min-height: 100vh;
    font-size: 16px;
    position: relative;
}

.page-content{
    box-sizing: border-box;
    margin: 0;
    padding: 50px 15px;
    width: 100%;
}

button:focus {
    outline:none;
}