.logo {
    color: #fff;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    z-index: 1;
  }
  .logo > div {
    position: relative;
  }

  .logo > div > span {
    display: block;
    left: -1.5%;
    position: absolute;
    top:0;
    width: 20%;
  }
  
  .logo > div > span::before{
    background-color: #000;
    border-radius: 50%;
    content: "";
    display: block;
    padding-top: 100%;
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .logo.home {
    display: inline-block;
    font-size: 100px;
    margin: 0 auto;
    width:auto;
  }

  .logo.home::before{
    border-radius: 55px;
    height: 110px;
    left: -9px;
    width: 110px;
  }
