.entities-tiles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview-tile,
.book-cover,
.add-entity,
.tile-position.over {
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    width: 530px;
}

.book-cover {
    justify-content: space-between;
}

.tile-position {
    box-sizing: border-box;
    height: 10px;
    width: 530px;
}

.tile-position.over {
    margin-right: 10px;
    grid-column-end: span 2 ;
}

.add-entity {
    border-style: dashed;
}

.book-cover.open {
    border-radius: 5px 5px 0 5px;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    width: 100%;
}

.book-cover.open .book-header {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

.book-cover.open::before {
    height: 20px;
    left: 5px;
    top: 5px;
    transform: translate( 0, 0);
    width: 20px;
}

.book-cover > div:first-child {
    font-size: 25px;
    z-index: 2;
}

.book-cover .entity-type {
    font-size: 25px;
    margin-right: 10px;
}

.book-cover > div > span {
    text-align: center;
}

.book-cover.open > div > span {
    text-align: left;
}

.book-cover .controls {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.book-cover .controls i {
    margin: 5px;
}


.book-content {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    padding: 10px 0;
    position: relative;
    top: -1px;
    width: 100%;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin: 10px;
    padding: 0 20px;
}

.profile-header h1 {
    margin-right: 10px;
}

.profile-header button,
.profile-controls button,
.story-controls button{
    border-radius: 0;
    border-style: dashed;
    border-width: 2px;
    font-weight: bold;
    height:auto;
    margin: auto 0;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
}

.story-controls button {
    width: 100%;
    margin: 5px 0;
}

.mobile-nav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.mobile-nav span{
    border-style: solid;
    border-radius: 5px 5px 0 0;
    border-width: 1px;
    cursor: pointer;
    margin-right: 10px;
    padding: 7px;
    position: relative;
    top: 1px;
}

.main-content .breadcrumbs,
.main-content .entities-tiles {
    max-width: 530px;
    margin: 0 auto;
}