.pseudonym-list{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    margin: 10px;
}

.pseudonym-list > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.profile-controls button {
    margin: 0 5px;
}
