.title-input {
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    box-sizing: border-box;
    display: block;
    font-size: 22px;
    margin: 20px auto;
    padding: 5px 6px 5px 11px;
    position: relative;
    width: 530px;
}
.scenes-list {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 530px;
}

.scenes-list .scene-block {
    box-sizing: border-box;
    position: relative;
    width: 500px;
}

.scenes-list .scene-text {
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    min-height: 80px;
    padding: 25px 15px;
    position: relative;
    width: 100%;
}

.scenes-list .scene-block:last-child .scene-text {
    border-radius: 5px 0 5px 5px;
}

.scenes-list .scene-handle {
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    right: -30px;
    text-align: center;
    top: 0;
    width: 30px;
}

.connect-block {
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: -14px auto;
    opacity: 1;
    position: relative;
    width: 30px;
    z-index: 5;
    transition: opacity 0.1s;
}

.scenes-list.active .connect-block {
    opacity: 0;
}

.scenes-list.active {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.confirm-box .errors {
    display: block;
}

.confirm-box .text {
    border-radius: 5px;
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    padding: 15px;
    text-align: justify;
}

.main-content {
    padding: 0px;
    transition: all 0.5s;
}

.main-content.open {
    padding-left: 300px;
    transition: all 0.5s;
}

.main-content.right-open {
    padding-right: 300px;
    transition: all 0.5s;
}

.new-scene {
    align-items: center;
    border-style: dashed;
    box-sizing: border-box;
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 10px auto;
    width: 530px;
}

.story-controls button i {
    display: none;
}
.story-controls button span {
    display: inline;
}

.scene-text.split-mode p {
    margin: 0;
    padding: 0;
}

/*RESPONSIVE*/
@media screen and (max-width: 535px){
    .scenes-list, .title-input,
    .scenes-list .scene-block {
        width: 100%;
    }

    .scenes-list .scene-text {
        width: calc(100% - 30px);
    }

    .scenes-list .scene-handle {
        right: 0;
    }
    
    .new-scene {
        width: 100%;
    }
}