.sidebar-container {
    box-sizing: border-box;
    display: none;
    flex-shrink: 0;
    left: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    top: 0;
    width: 300px;
}

.main-content {
    flex-grow: 10;
}

.sidebar {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 35px 0px 30px 0px;
    position: relative;
}

.tab-content, .content {
    box-sizing: border-box;
    padding: 0 15px 60px 15px;
    width: 100%;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*OPEN SIDEBAR*/
.open-sidebar {
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: none;
    height: 40px;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 5px;
    width: 25px;
    left: 0;
}

.open-sidebar button {
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px 0;
}

.open-sidebar button,
.open-sidebar button:hover {
    outline: none;
    border: none;
}

.open-sidebar button {
    height: auto;
    position: relative;
    width: 25px;
}

.sidebar-container .open-sidebar {
    left: auto;
    right: -25px;
}

/*SIDEBAR WITH TABS*/
.sidebar-container.sidebar-with-tabs {
    left: 0;
    width: 275px;
}

.sidebar .tab-content > div {
    display: none;
}

.sidebar.one .tab-content > div.one,
.sidebar.two .tab-content > div.two,
.sidebar.three .tab-content > div.three,
.sidebar.four .tab-content > div.four,
.sidebar.five .tab-content > div.five {
    display: block;
}

.open-sidebar button span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.mobile-desktop,
.desktop-only {
    display: block;
}
.entity-details.desktop-only {
    display: flex;
}
/*REPONSOVE*/
.mobile-only {
    display: none;
}

@media screen and (max-width: 1180px){
    .desktop-only,
    .entity-details.desktop-only  {
        display: none;
    }

    .mobile-only {
        display: block;
    }

}

@media screen and (max-width: 600px) {
    .sidebar-container.open {
        display: block;
        width: 100%;
    }

    .sidebar-container {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .main-content.open {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .page-content {
        margin: 0;
    }
}

