.sidebar-container {
    box-sizing: border-box;
    display: block;
    height: 100vh;
    left:-300px;
    padding: 0;
    position:fixed;
    top: 45px;
    transition: all 0.5s;
    width: 300px;
    z-index: 99;
}

.sidebar-container.open,
.sidebar-container.sidebar-with-tabs.open {
    left:0;
    transition: all 0.5s;
}

.sidebar {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height:100%;
    padding: 30px 15px 15px 15px;
    position: relative;
}

.open-sidebar {
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 1;
    position: absolute;
    right: -25px;
    top: 5px;
    transition: right 0.5s;
    width: 25px;
}

.sidebar-container.open .open-sidebar {
    opacity: 0;
    right: 0px;
    transition: right 0.5s;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*RIGHT SIDEBAR*/
.sidebar-container.right {
    left: auto;
    right: -300px;
}

.sidebar-container.open.right {
    left: auto;
    right: 0;
}
.sidebar-container.right .open-sidebar {
    right: auto;
    left: 0;
}

.sidebar-container.right .open-sidebar.active {
    border-radius: 5px 0 0 5px;
    left: -25px;
    right: auto;
}

/*SIDEBAR WITH TABS*/

.sidebar-container.sidebar-with-tabs {
    left:-275px;
    width: 275px;
}

.sidebar-tabs-navigation button {
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px 0;
}

.sidebar-tabs-navigation button,
.sidebar-tabs-navigation button:hover {
    outline: none;
    border: none;
}


.sidebar .tab-content > div {
    display: none;
}

.sidebar.one .tab-content > div.one,
.sidebar.two .tab-content > div.two,
.sidebar.three .tab-content > div.three,
.sidebar.four .tab-content > div.four,
.sidebar.five .tab-content > div.five {
    display: block;
}

.sidebar-tabs-navigation {
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    position: absolute;
    right: -25px;
    top: 5px;
    transition: right 0.5s;
    width: 25px;
}

.sidebar-tabs-navigation button {
    height: auto;
    position: relative;
    width: 25px;
}

.sidebar-tabs-navigation button span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/*REPONSOVE*/
.sidebar-container.mobile-only {
    display: none;
}

@media screen and (max-width: 1130px){
    .main-content.open.right-open .book-cover, 
    .main-content.open.right-open .preview-tile,
    .main-content.open.right-open .add-entity,
    .main-content.open.right-open .tile-position {
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .sidebar-container.desktop-only  {
        display: none;
    }

    .sidebar-container.mobile-only {
        display: block;
    }
    
    .main-content.right-open {
        padding-left: 0;
        padding-right: 0;
    }

    .main-content.right-open.open {
        padding-left: 300px;
        padding-right: 0;
    }

}


@media screen and (max-width: 600px) {
    .sidebar {
        width:100%;
    }

    .main-content.open,
    .main-content.right-open.open,
    .main-content.right-open {
        width: 100%;
        padding: 0px;
        padding-left: 0px;
    }

    .main-content, .main-content.open{
        padding-top: 0;
        padding-left: 0;
    }

    .sidebar-container{
        width: 100%;
        left: -100%;
        padding: 0;
    }
    
    .sidebar-container.open {
        left: 0;
    }

    .sidebar-container .sidebar {
        justify-content: flex-start;
    }

    .page-content{
        padding: 50px 0;
    }

}

@media screen and (max-width: 500px){
    .page-content {
        padding: 15px 0;
        position: relative;
    }

    .sidebar-container {
        top: 0;
    }
}