#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal-content {
  border-radius: 5px;
  padding: 20px 0;
  position: absolute;
  width: 715px;
  overflow: auto;
  margin: 10px 0;
  max-height: calc(100vh - 50px);
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right:5px;
  top:5px;
}

@media screen and (max-width: 725px){ 

  #modal-content {
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
    position: absolute;
    width: 98%;
  }
}

@media screen and (max-width: 500px){ 
  #modal-content {
    height: 100vh;
    width: 100vw;
  }
}