@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap');

/*BACKGROUND*/
.scenes-list .scene-text,
.scenes-list .scene-handle,
.confirm-box .text,
.entity-block {
    background-color: #fff;
}

body, #root, #modal-content,
.new-scene,
add-entity {
    background-color: #efdbb0;
}

.navbar, form button:hover,
.profile-dropdown,
.sidebar .story-controls button {
    background-color: #dba279;
}

.connect-block,
.open-sidebar,
.sidebar-container .sidebar,
.entity-block .entity-header,
.book-cover {
    background-color: #b08260;
}

form button {
    background-color: #333;
}

#modal-background {
    background-color: rgba(0, 0, 0, 0.7);
}

.book-cover::before {
    background-color: #000;
}

.story-controls button{
    background: transparent;
}
/*TEXT*/
body,
.navbar button,
.home-logo-navbar button,
form button:hover,
.connect-block:hover,
.story-controls button,
.new-scene,
.add-entity,
.book-cover .controls i {
    color: #333
}

.home-logo-navbar button:hover,
.scene-handle i:hover,
.scene-handle i.active,
.story-controls button[disabled],
.story-controls button[disabled]:hover {
    color: #b08260;
}

.navbar button:hover,
.home-logo-navbar .profile-dropdown button:hover,
.connect-block,
.story-controls button:hover,
.book-cover .controls i:hover,
.book-cover .controls i.active {
    color: #efdbb0
}

#modal-content button,
.book-cover {
    color: #fff;
}

.confirm-box .errors,
.new-scene:hover,
.add-entity:hover {
    color: tomato;
}

/*BORDER-COLOR*/
.home-logo-navbar > div,
form input:focus,
.entity-block .drop-block,
.book-content {
    border-color: #b08260;
}

.story-controls button,
.new-scene,
.add-entity,
.book-cover {
    border-color: #333;
}

.scenes-list.active,
.new-scene:hover,
.add-entity:hover {
    border-color: tomato;
}

/*Dance Script*/
#modal-content h3,
.book-cover > div:first-child {
    font-family: 'Dancing Script', cursive;
}

/*Open Sans*/
body, button, input, textarea, select,
.book-cover .entity-type {
    font-family: 'Open Sans', sans-serif;
 }

/*Scrollbar settings*/
*::-webkit-scrollbar {
    width: 7px;
    background-color: #dba279;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #333;
}
 
*::-webkit-scrollbar-thumb {
  background-color: tomato;
  border: 1px solid #333;
  border-radius: 3px;
}
