@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap');

/*BACKGROUND*/
.scenes-list .scene-text,
.scenes-list .scene-handle {
    background-color: #fff;
}

body, #root, #modal-content {
    background-color: #efdbb0;
}

.navbar, form button:hover,
.profile-dropdown {
    background-color: #dba279;
}

.connect-block {
    background-color: #b08260;
}

form button {
    background-color: #333;
}

#modal-background {
    background-color: rgba(0, 0, 0, 0.7);
}
/*TEXT*/
body,
.navbar button,
.home-logo-navbar button,
form button:hover,
.connect-block:hover {
    color: #333
}

.navbar button:hover,
.home-logo-navbar .profile-dropdown button:hover,
.connect-block{
    color: #efdbb0
}

.home-logo-navbar button:hover,
.scene-handle i:hover,
.scene-handle i.active {
    color: #b08260;
}

/*BORDER-COLOR*/
.home-logo-navbar > div,
form input:focus {
    border-color: #b08260;
}

#modal-content button {
    color: #fff;
}

/*Dance Script*/
#modal-content h3 {
    font-family: 'Dancing Script', cursive;
}

/*Open Sans*/
body, button, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
 }


