.list-of-books {
    width: 700px;
    padding: 20px;
    background-color: lightblue;
    box-sizing: border-box;
}

.book {
    width: 250px;
    background-color: lightcoral;
    margin:20px 0;
    padding: 0;
}

.book h3 {
    font-size: 16px;
    background-color: coral;
    padding: 5px;
}

.chapter {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}
