@media screen and (max-width: 1130px){
    .main-content.open.right-open .book-cover, 
    .main-content.open.right-open .preview-tile,
    .main-content.open.right-open .add-entity,
    .main-content.open.right-open .tile-position {
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .sidebar-container
    .sidebar-container.right,
    .sidebar-container.open,
    .sidebar-container.right.open,
    .sidebar-container.mobile-sidebar > .right > .left,
    .sidebar-container.mobile-sidebar > .left > .right  {
        display: none;
    }

    .sidebar-container.mobile-sidebar,
    .sidebar-container.mobile-sidebar > .right > .right,
    .sidebar-container.mobile-sidebar > .left > .left {
        display: block;
    }

    
   
    .main-content.right-open {
        padding-left: 300px;
        padding-right: 0;
    }
    
}


@media screen and (max-width: 850px){
    .main-content .breadcrumbs, .main-content .entities-tiles {
        width: 100%;
    }

    .book-cover, 
    .preview-tile,
    .add-entity {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 100%;
    }

    .book-cover, 
    .preview-tile,
    .add-entity,
    .tile-position {
        width: 100%;
    }

    .book-cover .controls {
        align-self: flex-end;
    }

}

@media screen and (max-width: 725px){
    .home-logo-navbar {
        width: 100%;
    }

    .logo.home {
        font-size: 14vw;
    }

    .navbar {
        min-width: 200px;
    }

}

@media screen and (max-width: 600px){

    .entities-tree {
        width: 100%;
    }

    .sidebar {
        width:100%;
    }

    .main-content.open {
        width: 100%;
        padding: 0px;
    }

    .main-content, .main-content.open{
        padding-top: 0;
        padding-left: 0;
    }

    .book-cover.dragged {
        width: 90%;
    }

    .only-mobile {
        display: none;
    }

    .sidebar-container{
        width: 100%;
        left: -100%;
        padding: 0;
    }
    
    .sidebar-container.open {
        left: 0;
    }

    .sidebar-container .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .page-content{
        padding: 50px 0;
    }
}

@media screen and (max-width: 535px){
    .scenes-list, .title-input,
    .scenes-list .scene-block {
        width: 100%;
    }

    .scenes-list .scene-text {
        width: calc(100% - 30px);
    }

    .scenes-list .scene-handle {
        right: 0;
    }
    
    .new-scene {
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .profile-header{
        display: flex;
        flex-direction: column;
    }

    form > div {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    form button {
        width: 100%;
        margin: 10px auto;
    }

    .only-mobile {
        display: inline-block;
    }

    .logout span {
        display: none;
    }
    
    .logout i {
        display: inline-block;
    }

    .navbar {
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .page-content {
        padding: 15px 0;
        position: relative;
    }

    .sidebar-container {
        top: 0;
    }

    .sidebar-container .sidebar {
        padding: 20px;
    }
}

@media screen and (max-width: 300px){
    .logo.home {
        font-size: 25px;
    }
}