@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap');

.peach {
    --bg-color1: #fff;
    --bg-color2: #efdbb0;
    --bg-color3: #dba279;
    --bg-color4: #b08260;
    --bg-color5: #333;
    --bg-color6: #000;
    --bg-color7: tomato;
    --modal-bg: rgba(0, 0, 0, 0.7);

    --text-color1: #333;
    --text-color2: #b08260;
    --text-color3: #efdbb0;
    --text-color4: #fff;
    --text-color5: tomato;

    --border-color1: #b08260;
    --border-color2: #333;
    --border-color3: tomato;
  }
  
.beach {
    --bg-color1: #fff;
    --bg-color2: #c6d7d8;
    --bg-color3: #86cae4;
    --bg-color4: #5392bf;
    --bg-color5: #333;
    --bg-color6: #000;
    --bg-color7: #47ffd7;
    --modal-bg: rgba(0, 0, 0, 0.7);

    --text-color1: #333;
    --text-color2: #5392bf;
    --text-color3: #c6d7d8;
    --text-color4: #fff;
    --text-color5: #47ffd7;

    --border-color1: #5392bf;
    --border-color2: #333;
    --border-color3: #47ffd7;
  }

.theme-button.peach-theme {
    background-color: #dba279;
}
.theme-button.beach-theme {
    background-color: #86cae4;
}

.theme-button {
    border-color: var(--border-color2);
}
.theme-button.active,
.theme-button:hover {
    border-color: var(--border-color3);
}

/*BACKGROUND*/
.scenes-list .scene-text,
.scenes-list .scene-handle,
.confirm-box .text,
.entity-block {
    background-color: var(--bg-color1);
}

body, #root, 
.root-container,
#modal-content,
.new-scene,
.add-entity,
.profile-header button {
    background-color: var(--bg-color2);
}

.navbar, form button:hover,
.profile-dropdown,
.story-controls button {
    background-color: var(--bg-color3);
}

.connect-block,
.open-sidebar,
.sidebar-container .sidebar,
.entity-block .entity-header,
.book-cover {
    background-color: var(--bg-color4);
}

form button {
    background-color: var(--bg-color5);
    
}

.book-cover::before {
    background-color: var(--bg-color6);;
}

#modal-background {
    background-color: var(--modal-bg);
}

/*TEXT*/
body,
.navbar button,
.profile-dropdown a,
.home-logo-navbar button,
form button:hover,
#modal-content button:hover, 
.connect-block:hover,
.new-scene,
.add-entity,
.book-cover .controls i,
.profile-header button,
.story-controls button,
.story-page h1 a {
    color: var(--text-color1)
}

.home-logo-navbar button:hover,
.scene-handle i:hover,
.scene-handle i.active,
.story-controls button[disabled],
.story-controls button[disabled]:hover,
.modal-close:hover,
form label i:hover,
.story-page h1 a:hover {
    color: var(--text-color2);
}

.navbar button:hover,
.home-logo-navbar .profile-dropdown button:hover,
.profile-dropdown a:hover,
.connect-block,
.book-cover .controls i:hover,
.book-cover .controls i.active,
.pseudonym-list i:hover {
    color: var(--text-color3)
}

#modal-content button,
.book-cover {
    color: var(--text-color4);
}

.confirm-box .errors,
.new-scene:hover,
.add-entity:hover,
.profile-header button:hover,
.story-controls button:hover {
    color: var(--text-color5);
}

/*BORDER-COLOR*/
.home-logo-navbar > div,
form input:focus,
.entity-block .drop-block,
.book-content,
.story-controls button[disabled],
.story-controls button[disabled]:hover {
    border-color: var(--border-color1);
}

.new-scene,
.add-entity,
.book-cover,
.profile-header button,
.story-controls button {
    border-color: var(--border-color2);
}

.scenes-list.active,
.new-scene:hover,
.add-entity:hover,
.profile-header button:hover,
.story-controls button:hover {
    border-color: var(--border-color3);
}

/*Dance Script*/
#modal-content h3,
.book-cover > div:first-child,
h1 {
    font-family: 'Dancing Script', cursive;
}

/*Open Sans*/
body, button, input, textarea, select,
.book-cover .entity-type {
    font-family: 'Open Sans', sans-serif;
 }

/*Scrollbar settings*/
*::-webkit-scrollbar {
    width: 7px;
    background-color: var(--bg-color3);
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--border-color2);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color7);
  border: 1px solid var(--border-color2);
  border-radius: 3px;
}
