/* TODO Add site wide styles */
@import './styles/color-scheme.css';
@import './styles/general/index.css';
@import './styles/mobile/index.css';


body, #root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    min-height: 100vh;
    position: relative;
}

.page-content{
    margin: 0;
    padding: 50px 0;
    width: 100%;
}
